<h2>Add a New Movie</h2>

<form action="/movies/create">

  <p>
    <!-- <label for="title">Title:</label> -->
    <%= label_tag :title, "Movie Title" %>
    <br>
    <!-- <input id="title" size="80" type="text" name="title"> -->
    <%= text_field_tag :title, "", :size => 80 %>
  </p>

  <p>
    <select name="director_id">
      <% Director.all.each do |d| %>
        <option value="<%= d.id %>"><%= d.name %></option>
      <% end %>
    </select>
  </p>


  <p>
    <label for="year">Year:</label>
    <br>
    <input id="year" size="4" type="number" name="year">
  </p>
  <p>
    <label for="image_url">Link to Poster Image:</label>
    <br>
    <input id="image_url" type="text" size="80" name="image_url">
  </p>

  <p>
    <label for="plot">Plot Summary:</label>
    <br>
    <textarea id="plot" name="plot" rows="5" cols="80">
    </textarea>
  </p>

  <input type="submit" value="Add Movie">

</form>
